/* Basic reset */

body {
  line-height: 1.5;
  background-color: #1b1b1b;
  color: #333;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.navbar {
  background-color: #f1f3f4;

  padding: 10px;
}

label {
  color: #c3c2b7;
}

p {
  color: #c3c2b7;
}

input,
select {
  color: white;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}
